asgiref==3.11.1
Django==5.2.14
django-debug-toolbar==6.3.0
django-taggit==6.1.0
django-widget-tweaks==1.5.1
git-filter-repo==2.47.0
psycopg2-binary==2.9.12
python-dotenv==1.2.2
sqlparse==0.5.5
typing_extensions==4.15.0
